
.profilePicture {
    margin-top: 10px;
    height: 130px;
    border-radius: 50%;
}

.cardArt {
    height: 100px;
}

.title {
    font-size: 3.0rem;
    padding-bottom: 0;
}

.pageWrapper {
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
}

.linkButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .anchorColor {
    color: white;
  }

  .anchorColor:hover {
    text-decoration: underline;
    color: white;
  }

  .card {
    background-color: rgba(189, 189, 200, 0.2);
    border: none;
    backdrop-filter: blur(6px);
    width: 100%;
    padding: 1.5em 1em;
    border-radius: 5px;
  }
  
  .cardFont, span, button, a, h1, h2, h3, h4 {
    font-family: 'Jost', sans-serif;
    margin-bottom: 5px;
    color: black;
  }

  .pad {
    padding: 5px;
  }

  .pad2 {
      padding: 20px;
  }

  .pad-2-bottom {
    padding-bottom: 20px;
  }

  .margin-1-bottom {
      margin-bottom: 10px;
  }

  .margin-right {
      margin-right: 5px;
  }

  .margin-left {
    margin-left: 5px;
}

  .customContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 0 !important;
  }

  .button {
    color: #212529;
    border-color: #212529;
    margin-bottom: 0.3em;
  }