
.profilePicture {
    border-radius: 50%;
    height: 130px;
}

.cardArt {
    height: 100px;
}

.title {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

.pageWrapper {
    height: 100%;
}

.linkButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
  }

  .anchorColor {
    color: black;
  }

  .anchorColor:hover {
    text-decoration: underline;
    color: black;
  }

  .card {
    background-color: rgba(200, 200, 255, 0.2);
    border: none;
    backdrop-filter: blur(6px);
    width: 100%;
    padding: 1.5em 1em;
  }
  
  .cardText {
    word-wrap: break-word;
    font-family: 'Jost', sans-serif;
  }

  .pad {
    padding: 5px;
  }

  .pad2 {
      padding: 20px;
  }

  .pad-2-bottom {
    padding-bottom: 20px;
  }


  .customContainer {
      display: flex;
      justify-content: center;
  }

  .button {
    color: #212529;
    border-color: #212529;
    margin-bottom: 0.3em;
  }